#page-teacher-list {
  width: 100vw;
  height: 100vh;
}

#page-teacher-list > main {
  max-width: 71rem;
  width: 100%;
  margin-top: 2.4rem;
  padding: 2.4rem 0;
  background: var(--color-background);
}

@media(min-width: 750px) {
  #page-teacher-list > main {
    margin: 2.4rem auto 0;
  }
}